.h_item {
  color: black;
}

.h_button {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  width: 100px;
  text-decoration: none;
}

.JSRootBrowser {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  min-height: 800px;
  padding: 4rem;
}

.JSRootBrowserTree {
  width: 20%;
  height: auto;
  float: left;
}

.JSRootBrowserMain {
  width: 80%;
  min-height: 100%;
}
